*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
SMTCompatLib/libs/
SMTCompatLib/src/main/res/drawable/
apicontrol/libs/
baidumap/src/main/res/
rxwebsocket/libs/
rxwebsocket/src/main/res/
sample/libs/
simpletourimlibrary/libs/
simpletourimlibrary/src/main/res/
.gitignore
